.navbar {
    height: 90px;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    top: 0;
    z-index: 999;
    position: sticky;
    background-color: black;
    box-shadow: 0px 8px 10px rgb(0 0 0 / 40%);
    transition: 0.5s;
    backdrop-filter: blur(8px);
    border-radius: 0px 0px 10px 10px;
}

.navbar-logo {
    width: 100%;
    height: 100%;
    background: none;
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    max-height: 45px;
    padding-left: 20px;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    height: 100%;
}

.navbar-links ul,
li,
a {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: white;
    padding-right: 10px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: inline-block;
    transition: text-shadow 0.5s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.navbar-links li {
    display: table-cell;
}

.navbar-links a:hover:after {
    width: 100%;
    left: 0;
}

.navbar-links a:hover {
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.4);
}